<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/src/create-comment.js"></script>
    <script>
        $(function () {
            $("#comment-list").load("/issues/comment?issue=" + getUrlParameter("id"));
        });

        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        }
    </script>

    <title>Title</title>
</head>
<body>
<div class="container col-sm-6">
    <div class="text-right">
        <div class="col-sm-12">
            <a href="/logout">
                <button type="button" class="form-control btn btn-link">Logout</button>
            </a>
        </div>
    </div>
    <div class="col-sm-7"><h5><label th:text="${issue.issueName}"></label></h5>
    </div>
    <div>
        <div class="row">
            <label class="col-sm-2"> Status</label> :
            <label class="col-sm-7 text-left" th:text="${issue.status}"></label>
        </div>
        <div class="row">
            <label class="col-sm-2">Start Date</label> :
            <label class="col-sm-7 text-left" th:text="${issue.date}"></label>
        </div>
        <div class="row">
            <label class="col-sm-2"> Author</label> :
            <label class="col-sm-7 text-left" th:text="${issue.username}"></label>
        </div>
        <div class="row">
            <label class="col-sm-2"> Description </label>
        </div>
        <div class="col-sm-7 row">
          <label class="col-sm-12 border border-dark rounded  wrap-normal" th:text="${issue.description}"></label>
        </div>
    </div>
    <h3>COMMENTS :</h3>
    <div id="comment-list"></div>
    <form class="form-horizontal border border-dark rounded form-control col-sm-7" id="comment-form">
        <div class="form-group">
            <select class="form-control" id="selection">
                <option value="Resolved">Resolved</option>
                <option selected value="Empty">---</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" id="current-user" th:text="${user}"></label>
        </div>
        <div class="form-group">
            <textarea class="from-control col-sm-12 border rounded" placeholder="Enter issue description"
                      style="resize: none; height: 100px" id="commentDescription"></textarea>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <button type="submit" class="form-control btn btn-success">Comment</button>
            </div>
            <div class="">
                <a href="/issues">
                    <button type="button" class="form-control btn btn-link">Back</button>
                </a>
            </div>
        </div>

    </form>
</div>
</body>
</html>
