<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <title>Title</title>
</head>
<body>
<div>
    <a href="/logout">Logout</a> <label style="color: white"></label>
    <a href="/registration">Registration</a>
</div>
<h1>Issue Tracker</h1>
<input id="search-input" placeholder="Enter key word of issue to search">
<button type="button" id="search-button" onclick="searchFunction()">Search</button>
<a href="/issues">
    <button>Reset Filters</button>
</a>
<br/>
<br/>
<div id="my-issue-button">
    <button onclick="getMyIssues()">Show My Issues</button>
</div>

<br/>
<div th:each="issue : ${issuesList}">
    <a th:href="@{'issues/art?id=' + ${issue.id}}" th:text="${issue.issueName}"></a>
    <label th:text="${issue.status}"/>
    <label th:text="${issue.date}"/><br/>
</div>
<br/>
<a href="/issues/new">
    <button>Add Issue</button>
</a>
</body>

<script>
    function searchFunction() {
        var search = $("#search-input").val();
        if (search === "") {
            alert("Enter search key word")
        } else window.location.replace("/issues?search=" + search);
    }
</script>
<script>
    function getMyIssues() {
        window.location.replace("/issues?my=true");
    }
</script>
</html>